<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>login page</title>
  </head>
  <body>
    <!-- member login -->
    <h1>Member Login</h1>
    <div class="containerform">
      <form class="text" id="form">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" name="name" id="name" required />
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" name="email" id="email" required />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" name="password" id="password" required />
        </div>
        <div class="button">
          <button type="submit" class="text" id="signup">Sign Up</button>
          <button type="submit" class="text" id="signin">Sign In</button>
        </div>
      </form>
    </div>
  </body>
</html>
